.button {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #324bff;
  border: 1px solid #324bff;
  border-radius: 24px;
  width: 100px;
  font-size: 12px;
  font-family: 'Roboto Regular', sans-serif;
}

.button:hover {
  background-color: #324bff;
  color: #fff;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #f8f9ff;
  color: #324bff;
  border-color: #324bff;
}

.button:disabled:hover {
  background-color: #f8f9ff;
  color: #324bff;
  border-color: #324bff;
}

.undo.button {
  width: 60px !important;
}

.add.button {
  color: #fff;
  width: 100px !important;
  background-color: #324bff !important;
}

.add.button:hover {
  background-color: #1d37fc !important;
}
