.listContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 600px;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}

.title {
  color: #000;
  font-size: 30px;
  font-family: 'Roboto Regular', sans-serif;
}

.description {
  color: #747474;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto Regular', sans-serif;
}
